body{
    margin: 0;
}

.nav{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    height:10vh;
}
.nav li{
    position: relative;
    top:5px;
    font-size: 20px;
}
.nav h1{
    position: relative;
    font-size: 45px;
}

h1{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    margin:5px;
    color:rgb(186, 82, 82);
}

li{
    display: inline;
    font-size: 17px;
}
a{
    text-decoration: none;
    color:black;
    cursor: pointer;
}


a:hover{
    color:red;
    cursor: pointer;
    font-weight: bold;
}

.links{
    padding-right: 1em;
}

.menu img{
    width:80%;
}


